* {
  position: relative;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100vw !important;
  height: 100% !important;
  max-width: 100% !important;
  overflow: hidden !important;
}

h5 {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}

section.scene {
  height: 100vh;
  margin: 0 !important;
}

.content {
  height: 100% !important;
  width: 100% !important;
}

.arrow {
  border: solid rgba(30, 30, 30, .5);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.up.left {
  transform: rotate(199deg);
  -webkit-transform: rotate(199deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.down.right {
  transform: rotate(19deg);
  -webkit-transform: rotate(19deg);
}


#sceneControllers {
  position: fixed;
  bottom: 15%;
  right: 4%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90px;
  z-index: 100;
}

#sceneControllers span {
  color: rgba(10, 10, 10, .8);
  user-select: none !important;
  display: flex;
  justify-content: center;
}

#sceneControllers>span>i.arrow {
  cursor: pointer;
}

#sceneControllersCounters {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: bolder;
  font-family: monospace;
  align-items: center;
}

.paused {
  animation-play-state: paused;
}


/* Cena 1 */
.scene:nth-of-type(1) {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white !important;
}

.scene:nth-of-type(1) h1 {
  font-size: 10rem;
  animation: FadeIn 2s;
  opacity: 1;
  perspective: 200px;
  margin: 0;
}

/* Cena 2 */
.scene:nth-of-type(2) {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: white !important;
}

.scene:nth-of-type(2) .content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: white !important;
}

.scene:nth-of-type(2) h1 {
  font-size: 7rem;
  animation: FadeIn 1s;
  opacity: 1;
  margin: 0;
  color: darkblue;
  font-family: monospace;
  user-select: none;
}

.tempo-economizado {
  border-right: 1px solid darkblue;
  width: 50%;
  max-width: 50%;
  height: 100%;
  animation: BorderCena2 1.5s ease-in;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Cena 10 */
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');

.scene:nth-of-type(10) {
  background-color: #171717 !important;
}

.scene:nth-of-type(10) .background-content {
  user-select: none;
  z-index: 1 !important;
  height: 100% !important;
  width: 100% !important;
  position: absolute;
  display: flex;
  justify-content: flex-start;
}

.scene:nth-of-type(10) h1 {
  font-family: 'Teko', sans-serif;
  text-transform: uppercase;
  font-size: 10rem;
  text-align: center;
  font-weight: bolder;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 0;
  min-height: calc(100vh - 16px);
  position: relative;
  color: #000;
}

.scene:nth-of-type(10) h1:before {
  content: attr(data-text);
  position: absolute;
  background: linear-gradient(#f70000, #f89200, #f8f501, #038f00, #0168f8, #a200f7);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 100% 90%;
  line-height: 0.9;
  clip-path: ellipse(120px 120px at -2.54% -9.25%);
  animation: swingBeta 8s infinite;
  animation-direction: alternate;
}


@keyframes FadeIn {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}


@keyframes BorderCena2 {
  0% {
    height: 0;
  }

  100% {
    height: 100%;
  }
}


@keyframes swing {
  0% {
    -webkit-clip-path: ellipse(120px 120px at -2.54% -9.25%);
    clip-path: ellipse(120px 120px at -2.54% -9.25%);
  }

  20% {
    -webkit-clip-path: ellipse(120px 120px at -2.54% -9.25%);
    clip-path: ellipse(120px 120px at -2.54% 109.25%);
  }


  40% {
    -webkit-clip-path: ellipse(120px 120px at 49.66% 64.36%);
    clip-path: ellipse(120px 120px at 49.66% 64.36%);
  }


  50% {
    -webkit-clip-path: ellipse(120px 120px at 102.62% -1.61%);
    clip-path: ellipse(120px 120px at 102.62% -1.61%);
  }

  75% {
    -webkit-clip-path: ellipse(120px 120px at 102.62% -1.61%);
    clip-path: ellipse(120px 120px at 102.62% 100.61%);
  }

  100% {
    -webkit-clip-path: ellipse(120px 120px at 49.66% 64.36%);
    clip-path: ellipse(120px 120px at 49.66% 64.36%);
  }
}

@keyframes swingBeta {
  0% {
    -webkit-clip-path: ellipse(120px 120px at -2.54% -9.25%);
    clip-path: ellipse(120px 120px at -2.54% -9.25%);
  }

  50% {
    -webkit-clip-path: ellipse(120px 120px at 49.66% 64.36%);
    clip-path: ellipse(120px 120px at 49.66% 64.36%);

  }

  100% {
    -webkit-clip-path: ellipse(120px 120px at 102.62% -1.61%);
    clip-path: ellipse(120px 120px at 102.62% -1.61%);
  }
}