@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Monda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');


#numMovContainer {
  font-family: 'Bebas Neue', cursive !important;
  font-weight: 400;
}

#tituloCenaPubAndExp {
  font-family: 'Bebas Neue', cursive !important;
  font-weight: 400;
  letter-spacing: 3px;
  text-shadow: 1px 1px 1px black;
}

* {
  position: relative;
  user-select: none;
  -webkit-user-drag: none;
  box-sizing: border-box;
  font-feature-settings: "tnum"1, "ss03"1;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100vw !important;
  height: 100% !important;
  max-width: 100% !important;
  overflow: hidden !important;
}

.divPubAndExp {
  border-radius: 50%;
  pointer-events: none;
  position: absolute;
  width: 48px;
  height: 48px;
  margin: 1px;
  background-color: currentColor;
  font-size: 14px;
  overflow: hidden;
  color: transparent;
}

.divPubAndExp:nth-of-type(1) {
  animation: floating1 5s infinite;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  display: none;
}

.divPubAndExp:nth-of-type(2) {
  animation: floating1 5s infinite;
  -webkit-animation-delay: 7s;
  animation-delay: 7s;
  display: none;
}

.divPubAndExp:nth-of-type(3) {
  animation: floating1 5s infinite;
  -webkit-animation-delay: 11s;
  animation-delay: 11s;
  display: none;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

#qtdPublicacoes {
  opacity: 0;
  left: 14vw;
  bottom: 50%;
  font-weight: bold;
  border-radius: 9px;
}

#qtdAndamentos {
  opacity: 0;
  bottom: 17%;
  right: 11vw;
  background-color: #20c997;
  font-weight: bold;
  border-radius: 9px;
}


#qtdExpedientes {
  opacity: 0;
  left: 45vw;
  bottom: 34%;
  font-weight: bold;
  border-radius: 9px;
}


#tituloCenaPubAndExp {
  position: absolute;
  opacity: 1;
  top: 3%;
  z-index: 100;
  width: 100%;
  height: 100%;
  text-align: center;
  align-self: center;
}

section.scene {
  height: 100vh;
  margin: 0 !important;
  overflow: hidden;
}

.content, .intro {
  height: 100% !important;
  width: 100% !important;
  display: none;
}

.intro {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: red;
}

.content.show {
  display: flex !important;
}

.arrow {
  border: solid rgba(30, 30, 30, .5);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.up.left {
  transform: rotate(199deg);
  -webkit-transform: rotate(199deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.down.right {
  transform: rotate(19deg);
  -webkit-transform: rotate(19deg);
}

.w-100 {
  width: 100%;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

#imgRaioScene2 {
  align-self: center;
  bottom: 100px;
  left: 3%;
  opacity: 0;
}


#sceneControllers {
  position: fixed;
  bottom: 15%;
  right: -6vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90px;
  z-index: 999;
}

#funcionarioMes, #listaVipTitulo {
  top: 30px;
  margin: 0;
  position: absolute;
  font-size: 2em;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}

#listaVipTitulo {
  filter: brightness(5);
}

#funcionarioMesDescricao, #listaVipDescricao {
  top: 90px;
  margin: 0;
  position: absolute;
  font-size: 1em;
  font-weight: lighter;
}



.foto-funcionario {
  margin: 0;
  height: 150px;
  max-width: 200px;
}

.span-colocacao {
  left: 0;
  width: 100%;
  text-align: center;
}

.foto-colocacao {
  margin: 0;
  height: 120px;
  top: -150px;
  max-width: 200px;
  position: absolute;
  width: 100%;
}

#prediosContainerScene2 {
  position: absolute;
  height: 100vh;
  width: 73vw;
  bottom: 30px;
  justify-self: center;
  overflow: hidden;
  left: 15vw;
  border-bottom: 2px solid black;
}


#divPredioPublicacoes, #divPredioAndamentos, #divPredioExpedientes {
  border-right: 42px solid black;
  border-top: 3px solid black;
  border-left: 2px solid black;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
  border-top-left-radius: 4px;

  font-weight: bolder;
  overflow: visible;
  width: 35%;
  border-bottom: 2px solid black;
  position: absolute;
  bottom: -10px;
}

#divPredioPublicacoes {
  z-index: 60;
  border-right: 22px solid black;
  left: 2%;
  width: 33%;
  height: 0%;
}

#divPredioAndamentos {
  z-index: 60;
  left: 33%;
  height: 0%;
}

#divPredioExpedientes {
  z-index: 80;
  left: 64%;
  height: 0%;
}


#fotoFuncionario1, #fotoFuncionario2, #fotoFuncionario3 {
  opacity: 0;
  top: -75px;
  border-radius: 22px;
}

#fotoFuncionario2 {
  border: 7px outset silver;
  filter: brightness(1.15);
}

#fotoFuncionario1 {
  border: 7px outset gold;
  filter: brightness(1.2);
}

#fotoFuncionario3 {
  border: 7px outset burlywood;
  filter: brightness(1.15);
}




#ocorrenciasCounterContainer {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-top: 5vh;
}

#numMovContainer {
  opacity: 0;
  width: 100% !important;
  top: 30px;
  margin: 0 !important;
  color: blue;
  font-weight: bolder;
  height: 100% !important;
  min-width: 100%;
  min-height: 100%;
}

#numMovimentacoesScene1 {
  color: blue;
  font-weight: bolder;
  font-size: 30px;
}

#numMovimentacoesScene1Text {
  opacity: 0;
  top: 40px;
  width: 100% !important;
  left: 0;
}

#sceneControllers span {
  color: rgba(10, 10, 10, .8);
  user-select: none !important;
  display: flex;
  justify-content: center;
  filter: brightness(4.5);
}

#sceneControllers>span>i.arrow {
  cursor: pointer;
}

#sceneControllersCounters {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: bolder;
  font-family: monospace;
  align-items: center;
}

.paused {
  animation-play-state: paused;
}

.w-50 {
  width: 50%;
}

.h-100 {
  height: 100%;
}


/* Cena 1 */
.scene:nth-of-type(1) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white !important;
}

#introTextScene3a,
#introTextScene3b,
#introTextScene3c {
  position: absolute;
  opacity: 0;
  font-size: 2em;
}

.justify-between {
  justify-content: space-between;
}

#introTextContainer {
  margin-top: 150px;
  min-width: 600px;
}

#listaVipInfoValor {
  top: 85px;
  left: 111px;
}

#listaVipInfoProcessos {
  bottom: 85px;
  right: 90px;
}


#listaVipInfoProcessos, #listaVipInfoValor {
  position: absolute;
  font-weight: bold;
  width: 250px;
  font-size: 22px;
}

#introText, #introText1, #introText2 {
  font-size: 3rem;
  bottom: 50px;
  animation: RotateIn 1s;
  opacity: 0;
  display: none;
  text-align: center;
  perspective: 400px;
  margin: 0;
  position: absolute;
  user-select: none;
}

#verMaisButton {
  cursor: pointer;
  border: none;
  outline: none;
  color: deepskyblue;
  font-weight: bolder;
  background-color: transparent;
  padding: 10px 40px;
  font-size: 20px;
  bottom: -200px;
  position: absolute;
  opacity: 0;
}

#nomeFuncionario1, #nomeFuncionario2, #nomeFuncionario3 {
  font-family: 'Bungee', cursive;
}

#tempoEconomizado {
  width: 100%;
  transition: all 0.3s;
  max-width: 100%;
  height: 100%;
  padding: 0 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#introTextContainerScene3 {
  transition: all 0.3s;
  left: 100%;
}

#containerEstimativas {
  width: calc(80% - 35em);
}

.campo-relogio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#estimativasTempo {
  height: 70%;
  padding: 0 10%;
  overflow: hidden;
}

#estimativasTempo>.card {

  position: absolute;
  display: flex;
  justify-content: center;
  text-align: center;
}

.title-down {
  position: absolute;
  bottom: 10vh;
}

#numProcessosMovimentados {
  font-size: 34rem;
  line-height: 34rem;
  left: 39rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  perspective-origin: center;
  perspective: 34rem;
  opacity: 0.1;
  transition: all .3s ease-out;
  transform: scale(0.9);
  transform: scale(1.9) skew(10deg,
      18deg);
}

.title-up {
  position: absolute;
  top: 2vh;
}


h1.title-left {
  position: absolute;
  top: 15vh;
  width: 51vw;
  left: 3vw;
  font-size: 1.9em;
}

h5.title-left {
  position: absolute;
  top: 29vh;
  width: 58vw;
  left: 3vw;
  font-size: 1.3em;
}

h6.title-left {
  position: absolute;
  top: 34vh;
  width: 58vw;
  left: 3vw;
  font-size: .8em;
}


#descricaoProcessosMovimentados {
  text-align: center;
  top: -6rem;
  right: 0;
}

#estimativasTempo .card-title {}

.card-title span {
  font-size: 2rem !important;
}

@keyframes floating1 {
  from {
    transform: translateX(0px) translateY(0px);
  }

  25% {
    transform: translateX(0px) translateY(15px);
  }

  50% {
    transform: translateX(0px) translateY(0px);
  }

  75% {
    transform: translateX(0px) translateY(15px);
  }

  to {
    transform: translateX(0px) translateY(0px);
  }
}

.justify-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}


.align-center {
  align-items: center;
}

#tempoEconomizadoValores {
  bottom: 5vh;
}

#tempoEconomizado h1 {
  display: none;
  justify-content: flex-start;
  text-align: right;
  font-size: 2rem;
  animation: RotateIn 1.2s;
  opacity: 1;
  margin: 0;
  font-weight: lighter;
  user-select: none;
}

/* Cena 10 */
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');

.align-start {
  align-items: flex-start;
}

#clientesVipContainer {
  height: 80vh;
  padding-top: 2em;
  width: 55%;
  bottom: 5%;
  left: 0;
  position: absolute;
}




.cliente-vip {
  height: 17%;
  width: 48%;
  left: -240px;
  background-color: red;
  opacity: 0;
}

.pos-0 {
  left: 0;
  top: 0;
}

#logoScene1 {
  opacity: 0;
  top: 75px;
  left: 35px;
  position: absolute;
  max-height: 200px;
  max-width: 140px;
}

.texto-funcionario1, .texto-funcionario2, .texto-funcionario3 {
  opacity: 0;
  top: 10px;
}

.absolute-0 {
  position: absolute;
  left: 0;
  top: 0;
}

.spotlight2 {
  font-family: 'Teko', sans-serif;
  text-transform: uppercase;
  font-size: 10rem;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 0;
  min-height: calc(100vh - 16px);
  background: transparent;
  position: relative;
  background: transparent;
  color: #000;
}

.spotlight2:before {
  content: attr(data-text);
  position: absolute;
  background: linear-gradient(#f70000, #f89200, #f8f501, #038f00, #0168f8, #a200f7);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 100% 90%;
  line-height: 0.9;
  filter: brightness(2) contrast(120%);
  clip-path: ellipse(180px 180px at -2.54% -9.25%);
  animation: swing2 8s infinite;
  animation-delay: 1s;
  animation-direction: alternate;
}

@keyframes gradientAnim2 {
  0% {
    background-position: 50% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 50% 50%;
  }
}

@keyframes swing2 {
  0% {
    -webkit-clip-path: ellipse(180px 180px at -2.54% -9.25%);
    clip-path: ellipse(180px 180px at -2.54% -9.25%);
  }

  50% {
    -webkit-clip-path: ellipse(180px 180px at 49.66% 64.36%);
    clip-path: ellipse(180px 180px at 49.66% 64.36%);

  }

  100% {
    -webkit-clip-path: ellipse(180px 180px at 102.62% -1.61%);
    clip-path: ellipse(180px 180px at 102.62% -1.61%);
  }
}


.brasil-gradient {
  background: linear-gradient(-45deg, #f8f501, #038f00, #0168f8, #fff);
  background-size: 400% 400%;
  height: 100vh;
  animation: gradientAnim2 15s ease infinite;
}

h1.spotlight, span.spotlight {
  font-family: 'Teko', sans-serif;
  text-transform: uppercase;
  font-size: 12rem;
  top: -185px;
  left: -335px;
  text-align: center;
  display: -webkit-flex;
  display: none;
  -webkit-align-items: center;
  align-items: flex-end;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 0;
  min-height: calc(100vh - 16px);
  background: white;
  position: relative;
  animation: TranslateIn 1s ease-in-out;
  transform: rotate(27deg) skew(35deg,
      5deg);
  background: #171717;
  color: #000;
}

#brMap1 .state {
  fill: white;
  fill-opacity: 0.3;
  cursor: pointer;
}

#brMap1 .state.tem-processo {
  fill: yellow;
  fill-opacity: 1;
  transition: transform .2s;
}

#brMap1 .state.tem-processo.focus {
  padding: 0;
  margin: 0;
  transform: translate(-5px, -3px);
  filter: drop-shadow(-1px 0px 0px #444) drop-shadow(7px 2px 0px #3214dc);
}


#brMap1 .state_contour {
  fill: none;
  stroke-opacity: .9;
  stroke: #444;
  stroke-linejoin: round;
}

#mapaBrasil {
  position: absolute;
  top: 0;
  perspective-origin: center;
  perspective: 900px;
  overflow: visible;
  right: 2vw;
}

#brMap1 rect.map_canvas {
  fill: none;
  stroke-width: 4;
  /* 0.25 to 5 */
  opacity: 0.6;

  /*  0 to 0.5 */
}

#brMap1 .map_gridCell {
  stroke: transparent;
  fill: none;
  stroke-width: 2;
  /* 0.25 to 5 */
  opacity: 0.9;
  /*  0 to 0.5 */
}

.typed-cursor {
  font-size: 1.8em;
  padding-left: 2px;
  color: white;
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

#mensagensFinais {
  font-size: 2em;
  font-weight: lighter;
}

h1.spotlight:before, .spotlight:before {
  content: attr(data-text);
  position: absolute;
  background: #193038;
  font-size: 3em;
  filter: brightness(2.9);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 100% 90%;
  animation: gradientAnim 8s ease infinite;
  line-height: 0.9;
  animation-direction: alternate;
}

.spotlight.up:before {
  top: -2em;
}

.spotlight.down:before {
  bottom: -1em;
}


.button2 {
  position: relative;
  display: inline-block;
  padding: 30px 61px;
  border-radius: 4px;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  margin: 25px;
  font-family: "Roboto", sans-serif;
  filter: hue-rotate(0deg);
  border: 2px solid #d2bdff;
  transition: all 0.1s linear;
}

.button2:hover {
  border: 1px solid transparent;
}

.button2:hover span {
  position: absolute;
  display: block;
}

.button2:hover span:nth-child(1) {
  filter: hue-rotate(0deg);
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, transparent, #3a86ff);
  animation: animate1 1s linear infinite;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }

  50%, 100% {
    left: 100%;
  }
}

.button2:hover span:nth-child(2) {
  filter: hue-rotate(60deg);
  top: -100%;
  right: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #3a86ff);
  animation: animateMeteorButton 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes animateMeteorButton {
  0% {
    top: -100%;
  }

  50%, 100% {
    top: 100%;
  }
}

.button2:hover span:nth-child(3) {
  filter: hue-rotate(120deg);
  bottom: 0;
  right: 0;
  width: 100%;
  background: linear-gradient(270deg, transparent, #3a86ff);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes animate3 {
  0% {
    right: -100%;
    height: 3px;
  }

  50%, 100% {
    height: 2px;
    right: 100%;
  }
}

.button2:hover span:nth-child(4) {
  filter: hue-rotate(300deg);
  bottom: -100%;
  left: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #3a86ff);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }

  50%, 100% {
    bottom: 100%;
  }
}

@keyframes RotateIn {
  0% {
    transform: rotate3d(-1, 0, -0.05, 15deg);
    opacity: 0;
  }

  100% {
    transform: rotate3d(0);
    opacity: 1;
  }
}

#introTextScene3d {
  margin-top: 0;
  margin-bottom: -5.5rem;
  font-weight: 500;
  line-height: 1.2;
}

@keyframes TranslateIn {
  0% {
    transform: translateX(-500px) rotate(27deg) skew(35deg,
        5deg);
    opacity: 0;
  }

  80% {
    opacity: 0.5;
  }

  100% {
    transform: translateX(0) rotate(27deg) skew(35deg,
        5deg);
    opacity: 1;
  }
}


@keyframes swing {
  0% {
    -webkit-clip-path: ellipse(120px 120px at -2.54% -9.25%);
    clip-path: ellipse(120px 120px at -2.54% -9.25%);
  }

  20% {
    -webkit-clip-path: ellipse(120px 120px at -2.54% -9.25%);
    clip-path: ellipse(120px 120px at -2.54% 109.25%);
  }


  40% {
    -webkit-clip-path: ellipse(120px 120px at 49.66% 64.36%);
    clip-path: ellipse(120px 120px at 49.66% 64.36%);
  }


  50% {
    -webkit-clip-path: ellipse(120px 120px at 102.62% -1.61%);
    clip-path: ellipse(120px 120px at 102.62% -1.61%);
  }

  75% {
    -webkit-clip-path: ellipse(120px 120px at 102.62% -1.61%);
    clip-path: ellipse(120px 120px at 102.62% 100.61%);
  }

  100% {
    -webkit-clip-path: ellipse(120px 120px at 49.66% 64.36%);
    clip-path: ellipse(120px 120px at 49.66% 64.36%);
  }
}

@keyframes swingBeta {
  0% {
    -webkit-clip-path: ellipse(120px 120px at -2.54% -9.25%);
    clip-path: ellipse(120px 120px at -2.54% -9.25%);
  }

  50% {
    -webkit-clip-path: ellipse(120px 120px at 49.66% 64.36%);
    clip-path: ellipse(120px 120px at 49.66% 64.36%);

  }

  100% {
    -webkit-clip-path: ellipse(120px 120px at 102.62% -1.61%);
    clip-path: ellipse(120px 120px at 102.62% -1.61%);
  }
}